* {
   padding: 0;
   margin: 0;
 }
 
 .App {
   font-family: sans-serif;
   display: flex;
   align-items: center;
   height: 100vh;
 }
 
 h4 {
   margin: 1rem 0;
 }
 
 .Input {
   display: flex;
 }
 
 input {
   padding: 0 0.5rem;
   height: 2rem;
   border-radius: 5px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border: 1px solid rgb(175, 175, 175);
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   --tw-ring-color: white;
   width: 200px;
 }
 
 input:focus {
   outline: none;
 }
 
 button {
   height: 2rem;
   border-radius: 5px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border: 1px solid rgb(175, 175, 175);
   border-left: none;
   width: 140px;
 }
 
 .leftside {
   width: 100%;
 }
 
 .rightside {
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #2d2d2d;
   color: lightgray;
   height: auto;
 }
 
 .container {
   padding: 0 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .validation-hint {
   margin: 1rem 0;
 }
 